$color-primary: #0070f3;
@import "mixins";
@import "variables";

.pointer{
    cursor: pointer;
}

.highlight {
    background-color: #f5f5f5;
    border: #0070f3 1px solid;
}

.main {
    // this is a container
    display: flex;
    flex-direction: column;
    min-height: 97vh;
    min-width: 60vh;
    padding: 0 0.5rem;
    border: red 1px solid;
}

.title {
    display: flex;
    justify-content: flex-start;
    color: $color-primary;
    text-decoration: none;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    color: $color-primary;
    text-decoration: none;
}

.key-input {
    opacity: 0;
  transition: opacity 0.5s ease;
}

.key-input:hover {
    opacity: 1;
}


.key-button {
    cursor: pointer;
    padding-left: 10px;
}


